@import url(bootstrap.css);
@import url(bootstrap.min.css);
@import url(bootstrap-theme.css);
@import url(bootstrap.css.map);
@import url(bootstrap-theme.css.map);
@import url(bootstrap.css.map);

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: auto;
  background: white;
}
.container {
  margin: inherit;
  width: inherit;
}
.first-text {
  background: transparent;
  font-weight: bold;
  text-align: center;
  font-size-adjust: auto;
  font-size: 60px;
  color: white;
  text-emphasis: bold;
}
.section1 {
  background: url(/images/backgrounds/h_img.jpg) no-repeat;
  background-size: 100%;
}
.section1 p {
  font-size: 18px;
}
.logo {
  margin-left: auto;
  margin-right: auto;
  float: none;
  margin-top: 100px;
}
.section2 {
  background: whitesmoke;
  height: 300px;
}
.second-text {
  color: black;
  text-align: center;
  background: transparent;
  font-size-adjust: auto;
  padding: 12px;
}
.second-text p {
  text-align: center;
  font-size: 21px;
  font-family: "Lato", sans-serif;
}
.section3 {
  height: 300px;
  background: url(/images/backgrounds/s_image.jpg) no-repeat;
  background-size: 100%;
  /* margin-top: 30px; */
}
.third-text {
  text-align: center;
  background: transparent;
  color: white;
}
.third-text p {
  text-align: center;
  font-size: 21px;
}
.section4 {
  background: whitesmoke;
  height: auto;
  padding: 10px;
  text-align: center;
}
#services {
  text-align: center;
}
.portfolio {
 margin-left: 10%;
 margin-right: 10%; 
}
.portfolio-img {
  padding: 10px 10px;
  width: 100%;
}
.contact {
  background: url(/images/backgrounds/c_image.jpg) no-repeat;
  color: white;
  border-color: white;
  text-align: center;
  padding: 20px 60px 20px 60px;
}
#name, #email, #area {
  background-color: transparent;
  color: white;
  border-color: white;
}
form {
  
}
